doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(rel="text/javascript", src="/javascripts/jquery/jquery-3.2.1.min.js")
    script(rel="text/javascript", src="/javascripts/jquery/jquery-ui.min.js")
  body
    div(class="container")
      h1= title
      br
      h3="Enter user email to receive reset letter"
      if error == true
        div(id="error_info",class="ui-widget")
          div(class="ui-state-error ui-corner-all",style="padding: 0 .7em;")
            p= "Check entered email. There is no user with such email."
              span(class="ui-icon ui-icon-alert",style="float: left; margin-right: .3em;")
      br
      form(id="login_form",action="/reset_password",method="POST")
        input(name="email",type="email",placeholder="email")
        br
        button(type="submit",class="ui-button ui-widget ui-corner-all")="Reset"
    script $('button[type="submit"]').click(function(event){if($('input[name="email"]').val().length > 0 && /^\w+([\.-]?\ w+)*@\w+([\.-]?\ w+)*(\.\w{2,7})+$/.test($('input[name="email"]').val()) ){return true;} else {event.preventDefault(); return false;}})
