doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(rel="text/javascript", src="/javascripts/jquery/jquery-3.2.1.min.js")
    script(rel="text/javascript", src="/javascripts/jquery/jquery-ui.min.js")
  body
    div(class="container")
      h1= title
      br
      h3="Enter new password"
      div(id="error_info",class="ui-widget")
        div(class="ui-state-error ui-corner-all",style="padding: 0 .7em;")
          p= "Entered password is invalid. Password should be longer than 6 symbols"
            span(class="ui-icon ui-icon-alert",style="float: left; margin-right: .3em;")
      br
      form(id="login_form",action="/reset_password_email",method="POST")
        input(name="password",type="password",placeholder="password")
        input(name="hash",type="hidden", value=hash)
        br
        button(type="submit",class="ui-button ui-widget ui-corner-all")="Reset"
    script 
      | $('#error_info').hide();
      | $('button[type="submit"]').click(function(event){
      | if($('input[name="password"]').val().length > 6){/* && /^\w+([\.-]?\ w+)*@\w+([\.-]?\ w+)*(\.\w{2,7})+$/.test($('input[name="password"]').val() */
      |   return true;
      | } else {
      |   $('#error_info').show();
      |   event.preventDefault(); return false;
      |}})
